%legend= @user.email
This is a 
%a(href="/#account_types") Permanent Account.
%br/
%br/

This user created these bookmarks:
%ul
  - @user.mrks.each do |mrk|
    %li=render :partial => "shared/mrk_uurl", :locals => {:mrk => mrk}
