%legend
  %h1
    Account:
    %span.bold.dark_green= @user.email
- if current_user.id == @user.id
  %a(href="#{sslhost}#{edit_user_registration_path}")
    Change Your Password?
  %br/
  %br/
This is a 
%a(href="/#account_types") Permanent Account.
%br/
%br/

-if @user.mrks.count < 1
  This user created no bookmarks (yet).
-else
  This user created these bookmarks:
  %ul
    - @user.mrks.each do |mrk|
      %li=render :partial => "shared/mrk_uurl", :locals => {:mrk => mrk}

