
- if ENV['RAILS_ENV'] == 'production'
  / nada
- else
  %ul
    - User.all.each do |usr|
      %li
        - confurl = "http://localhost:3000/users/confirmation?confirmation_token=#{usr.confirmation_token}"
        %a(href=confurl) #{confurl}
        %br/
        is for: #{usr.email}
