
- if ENV['RAILS_ENV'] == 'production'
  / nada
- else
  %ul
    - User.where("confirmation_token IS NOT NULL").each do |user|
      %li
        - confurl = "http://localhost:3000/users/confirmation?confirmation_token=#{user.confirmation_token}"
        %a(href=confurl) #{confurl}
        %br/
        is for: #{user.email}
