%legend
  %h1 About

marks4.us was created by Dan Bikle during Sunday Hackternoon:
%br/
%br/

%a(href='http://meetup.com/Hackternoon' target='x')
  http://meetup.com/Hackternoon
%br/
%br/

%a(href='http://hackternoon.com' target='x')
  http://hackternoon.com
%br/
%br/
