%legend
  %h1 Welcome

This site is a database full of bookmarks.  As you surf the web each day, store your bookmarks of interesting sites here.

%br/
%br/
Each bookmark has 5 optional attributes:
%ul
  %li URL (Example: http://hackternoon.com/blog)
  %li Tag1 (Example: Blog)
  %li Tag2 (Example: Software Opinions)
  %li Tag3 (Example: 415-321-0123smith)
  %li Notes (Example: I found this blog in May of 2012.  It belongs to Dan. He runs the Hackternoon Meetup.)
%br/
%br/
Also, each bookmark is visible to the web.
%br/
We do not offer private bookmarks visible only to you.
%br/
So, do not put private data in the tags or the notes.
%br/
%br/
And, it is wise to register with a name or E-Mail which does not identify you. 
%br/
In 2 minutes you can get an annonymous E-Mail address from Yahoo:

%br/
%br/
%a(href='https://edit.yahoo.com/registration' target='x')
  https://edit.yahoo.com/registration

%br/
%br#account_types/
%h1 This site offers three types of accounts:
%ul
  %li
    Guest: 
    %ul
      %li You don't need to login
      %li You can create bookmarks
      %li You cannot remove your bookmarks 
      %li You cannot edit your bookmarks (we cannot distinguish your bookmarks from other Guest bookmarks)
      %li You should tag your bookmarks with your phone number or something so you can find them again
      %li
        Guest bookmarks get deleted after 2 or 3 years or after we run out of money
        %br/
        %br/
  %li
    2 Month Account:
    %ul
      %li You need no E-Mail address 
      %li We don't know your E-Mail address so we cannot contact you
      %li If you forget your password we cannot contact you and we will not reset it
      %li If you forget your password just create a new account with a different name
      %li You login with a short name like Dan7 or debbie
      %li Your bookmarks belong to you
      %li You can create, update, and delete your bookmarks
      %li
        If you don't login for 2 months AND we don't serve your bookmarks for 2 months, we delete your account
        %br/
        %br/


  %li
    Permanent Account:
    %ul
      %li You login with an E-Mail address
      %li Your bookmarks are stored permanently (or until we run out of money)
      %li If you forget your password we E-Mail you so you can reset it
      %li Your bookmarks belong to you
      %li You can create, update, and delete your bookmarks



