%fieldset
  %legend
    %h1 Welcome

  Info about this site:

  %br/
  %br/

  %a(href='https://github.com/hackternoon/marks4us/blob/master/README.rdoc' target='x')
    https://github.com/hackternoon/marks4us/blob/master/README.rdoc


