= form_for @usr do |f|
  -if @usr.errors.any?
    #error_explanation
      %h2= "#{pluralize(@usr.errors.count, "error")} prohibited this usr from being saved:"
      %ul
        - @usr.errors.full_messages.each do |msg|
          %li= msg
