%legend
  %h1 Change Your Password

=form_tag(put_usr_change_password_path, :method => :put) do
  %div
    Current Password
    %br/
    = password_field_tag "current_password"
    %br/
    %br/

  %div
    New Password
    %br/
    = password_field_tag "password"
    %br/
    %br/

  %div
    New Password Again
    %br/
    = password_field_tag "password_confirmation"

  %div
    %br/
    %br/
    = submit_tag "Change Password Now"
