%legend= @usr.name
-if @usr.name == 'Guest'
  This is a 
  %a(href="/#account_types") Guest Account.
-else
  This is a 
  %a(href="/#account_types") 2 Month Account.
%br/
%br/

This user created these bookmarks:
%ul
  - @usr.mrks.each do |mrk|
    %li=render :partial => "shared/mrk_uurl", :locals => {:mrk => mrk}
