%legend
  %h1
    Account:
    %span.bold.dark_green= @usr.name

-if(session[:usr_id] == @usr.id)
  %a(href="#{sslhost}#{get_usr_change_password_path}") Change Your Password?
  %br/
  %br/
-if @usr.name == 'Guest'
  This is a 
  %a(href="/#account_types") Guest Account.
-else
  This is a 
  %a(href="/#account_types") 2 Month Account.
%br/
%br/

-if @usr.mrks.count < 1
  This user created no bookmarks (yet).
-else
  This user created these bookmarks:
  %ul
    - @usr.mrks.each do |mrk|
      %li=render :partial => "shared/mrk_uurl", :locals => {:mrk => mrk}
